# General ignores
Gemfile.lock
Berksfile.lock
tmp/
berks-cookbooks
.DS_Store
nohup.out
*.tar.gz

# Avoid Nexus credentials to be pushed on github
**/maven_repos/private.json
**/maven_repos/internal.json

# Vagrant/Kitchen/Travis ignores
.vagrant
.kitchen.local.yml
.kitchen/

# Alfresco license ignores
**/*.lic

.idea